<div id="points_exchange" class="modal modal-light fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center pb-20">
                <img src="https://twsaa.com/admin-themes/mbotiq/assets/images/star.svg" alt="star">
                <h4 class="mb-10 font-18 text-bold">
                    <span>{{ 'shop::app.checkout.redeem.redeem_points'|trans }}</span>
                </h4>
                <p class="text-muted">
                    <span>{{ 'shop::app.checkout.redeem.replace_points'|trans }}</span>
                </p>
            </div>
            <div class="modal-footer no-border side-btn p-20">
                <button class="btn btn-primary text-white btn-points-exchange">
                    <span>{{ 'shop::app.customer.account.general.yes'|trans }}</span>
                </button>
                <button class="btn btn-cancel" data-dismiss="modal">
                    <span>{{ 'shop::app.customer.account.general.no'|trans }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
