<div class="sidebar">
    {% for menuItem in menu['items'] %}
        <div class="menu-block">
            <div class="menu-block-content">
                <ul class="menubar">

                    {% for subMenuItem in menuItem['children'] %}
                        <li class="menu-item ">
                            <a href="{{ subMenuItem['url'] }}">
                                {{ subMenuItem['name']|trans }}
                            </a>
                            <i class="icon angle-right-icon"></i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $(".icon.icon-arrow-down.right").on('click', function(e){
            var currentElement = $(e.currentTarget);
            if (currentElement.hasClass('icon-arrow-down')) {
                $(this).parents('.menu-block').find('.menubar').show();
                currentElement.removeClass('icon-arrow-down');
                currentElement.addClass('icon-arrow-up');
            } else {
                $(this).parents('.menu-block').find('.menubar').hide();
                currentElement.removeClass('icon-arrow-up');
                currentElement.addClass('icon-arrow-down');
            }
        });
    });
</script>