
{% extends "layout/main.twig" %}

{% block title %} main {% endblock %}

{% block main_content %}
    <div class="home raqam-home">
        {% for content in homeContent %}
            {% if (('fixed_banner' == content['slug'] or 'wide_banner' == content['slug']) and content['settings']['image'] ) %}
                {% include 'custom/bold-banner.twig' with {'content': content} %}
            {% endif %}
            {% if ('youtube' == content['slug'] and content['settings']['youtube_url'] ) %}
                {% include 'custom/video.twig' with {'content': content} %}
            {% endif %}
             {% if ('customer_options' == content['slug']) %}
                {% include 'custom/customer-options.twig' with {'content': content} %}
            {% endif %}
             {% if ('store_features' == content['slug']) %}
                {% include 'custom/store-features.twig' with {'content': content} %}
            {% endif %}
             {% if ('brands' == content['slug']) %}
                {% include 'custom/brands.twig' with {'content': content} %}
            {% endif %}
             {% if ('list_of_items' == content['slug']) %}
                {% if ('slider' == content['settings']['type']) %}
                    {% include 'custom/list-of-items-slider.twig' with {'content': content} %}
                {% else %}
                    {% include 'custom/list-of-items.twig' with {'content': content} %}
                {% endif %}
            {% endif %}

             {% if ('fixed_products' == content['slug']) %}
                {% if ('chosen_products' == content['settings']['list_type'] and content['settings']['sku_text']) %}
                    {% if content['settings']["type"] == 'slider' %}
                        {% include 'custom/fixed-products-slider.twig' with {'content': content} %}
                    {% else %}
                        {% include 'custom/fixed-products.twig' with {'content': content} %}
                    {% endif %}
                {% elseif ('category' == content['settings']['list_type'] and content['settings']['category_id']) %}
                    {% if content['settings']["type"] == 'slider' %}
                        {% include 'custom/fixed-products-slider.twig' with {'content': content} %}
                    {% else %}
                        {% include 'custom/fixed-products.twig' with {'content': content} %}
                    {% endif %}
                {% elseif ('featured_products' == content['settings']['list_type']) %}
                    {% if content['settings']["type"] == 'slider' %}
                        {% include 'custom/fixed-products-slider.twig' with {'content': content} %}
                    {% else %}
                        {% include 'custom/fixed-products.twig' with {'content': content} %}
                    {% endif %}
                {% elseif ('most_sales' == content['settings']['list_type']) %}
                    {% if content['settings']["type"] == 'slider' %}
                        {% include 'custom/fixed-products-slider.twig' with {'content': content} %}
                    {% else %}
                        {% include 'custom/fixed-products.twig' with {'content': content} %}
                    {% endif %}
                {% elseif ('latest_products' == content['settings']['list_type']) %}
                    {% if content['settings']["type"] == 'slider' %}
                        {% include 'custom/fixed-products-slider.twig' with {'content': content} %}
                    {% else %}
                        {% include 'custom/fixed-products.twig' with {'content': content} %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}


{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                loop: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoWidth: true,
                rewind: true,
                margin: 15,
                nav: true,
                rtl: {{ lang ? 'true' : 'false' }},
            });

            $('.product-group-arrow-prev').on('click', function() {
                $(this).closest('[id^="block"]').find('.owl-prev').first().trigger('click');
            });

            $('.product-group-arrow-next').on('click', function() {
                $(this).closest('[id^="block"]').find('.owl-next').first().trigger('click');
            });

            if (document.querySelector('.myListSwiper')) {
                new Swiper(".myListSwiper", {
                    slidesPerView: 1,
                    autoplay: {
                        delay: 1000,
                    },
                    navigation: {
                        nextEl: ".s-slider-next",
                        prevEl: ".s-slider-prev",
                    },
                });
            }
        });
    </script>
{% endblock %}

    