{% extends "layout/main.twig" %}
{% block title %} main {% endblock %}
{% block main_content %}
    <div class="main">
        <div class="category-block">
            {% include 'products/list/grid.twig' with {'product': product, sorter: true} %}

        </div>
    </div>

    <script>
        var page = 1; //The number of records to display per request
        var action = 'inactive'; //Check if current action is going on or not. If not then inactive otherwise active
        var limit = 7; //The number of records to display per request
        var start = 0; //The starting pointer of the data
        var action = 'inactive'; //Check if current action is going on or not. If not then inactive otherwise active
        var sort = (new URL(location.href)).searchParams.get('sort');
        var order = (new URL(location.href)).searchParams.get('order');
        url_query = "?page="+page;

        if(sort)
        {
            url_query += "&sort="+sort;
        }
        if(order)
        {
            url_query += "&order="+order;
        }
        url_path = "{{ route('shop.productOrCategory.load', 'offers') }}"+url_query;
        $(window).on('load', function() {

            $(".s-products-list-loading-wrapper").show();
            $.ajax({
                url: url_path,
                type: "GET",
                cache: false,
                success: function(resp) {
                    if(resp.success == true)
                    {
                        $('#load_data').append(resp.html)
                        action = 'inactive';
                    }
                    $(".s-products-list-loading-wrapper").hide();
                },
            });
        });
        $(window).scroll(function(){
            if($(window).scrollTop() + $(window).height() > $("#load_data").height() && action == 'inactive')
            {
                action = 'active';
    
                var sort = (new URL(location.href)).searchParams.get('sort');
                var order = (new URL(location.href)).searchParams.get('order');
                page = page + 1;
                $(".s-products-list-loading-wrapper").show();
                
                url_query = "?page="+page;
                if(sort)
                {
                    url_query += "&sort="+sort;
                }
                if(order)
                {
                    url_query += "&order="+order;
                }

                $.ajax({
                        url: "{{ route('shop.productOrCategory.load', 'offers') }}"+url_query,
                        type: "GET",
                        cache: false,
                        success: function(resp) {
                            if(resp.success == true)
                            {
                                $('#load_data').append(resp.html)
                                action = 'inactive';
                            }
                            $(".s-products-list-loading-wrapper").hide();
                        },
                    });
            }
        });
    
    
    </script>
{% endblock %}
